html{
  min-height: 100%;
  background-image: linear-gradient(grey, #034301);
  color: white;
  background-size: 100% 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
  border: 5px solid black;
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
*{box-sizing: border-box}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 10%; /* Four links of equal widths */
  text-align: center;
}
.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.image{
  width: 90%;
  height: 50%;
  padding: 20px;
}
.item1 {
  grid-area: header;
  padding: 20px;
  text-align: center;
  font-family:WildWest;
  color: white;
}
.item2 {
  grid-area: menu;
  text-align: left;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
  text-align: left;
}
.item5 {
  grid-area: footer;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  padding: 20px 0;
}
#container{
  background-color: black;
  width: 200px;
  height: 300px;
  margin: 2px;
  border-radius: 20px;
  position: relative;
  border-color: black;
  float:left;
}
#picture{
  width: 100%;
  height: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#header {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  border: 1px solid green;
}
#footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
}
#divBody{
  text-align: center;
}
