
.grid-containerR {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 400px) {
  .grid-containerR { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 600px) {
  .grid-containerR { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 900px) {
  .grid-containerR { grid-template-columns: repeat(4, 1fr); }
}
